<mat-sidenav-container class="example-container" style="height: 100vh;">
    <mat-sidenav #sidenav class="example-sidenav">
        <div class="sideNav">
            <mat-nav-list>
                <a mat-list-item href="..." *ngFor="let link of sideNavLinks" [ngClass]="{active:link.active==true}"> {{ link.title }} </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <div class="example-sidenav-content">
        <mat-toolbar class="pageToolbar">
            <a href="" class="logo">XELPHA<span>health</span></a>
            <a href="" class="item right">Welch , kourteny</a>
            <a class="right" id="menuIcon" (click)="sidenav.open()"><i class="material-icons">dehaze</i></a>
        </mat-toolbar>
        <div class="pageContent">
            <div class="sideNav">
                <mat-nav-list>
                    <a mat-list-item href="..." *ngFor="let link of sideNavLinks" [ngClass]="{active:link.active==true}"> {{ link.title }} </a>
                </mat-nav-list>
            </div>
            <div class="mainContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>