<div class="row dashboardItems">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="box">
          <button mat-button class="dashboardItem"><img src="assets/IMG/patient.png" alt=""/>new patient</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="box">
        <button mat-button class="dashboardItem"><img src="assets/IMG/eye.png" alt=""/> Check-in</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="box">
        <button mat-button class="dashboardItem"><img src="assets/IMG/calendar.png" alt=""/>appointments</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="box">
        <button mat-button class="dashboardItem"><img src="assets/IMG/buy.png" alt=""/> Billing</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="box">
        <button mat-button class="dashboardItem"><img src="assets/IMG/medical-report.png" alt=""/>documents</button>
      </div>
    </div>
</div>
